body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f7fa;
    color: #000;
}

.header {
    background-color: #18b2bd;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 60px;
    margin-right: 15px;
}

.header .title {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 300px;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.content {
    max-width: 700px;
    margin: 60px auto 100px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.content h2 {
    color: #09aeba;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s;
}

input[type="text"]:focus {
    border-color: #007b83;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 0.95rem;
}

button {
    padding: 10px 20px;
    margin: 15px 8px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #0398a2;
    color: white;
    transition: background 0.2s;
}

button:hover {
    background: #e40000;
}

button[type="reset"] {
    background: #aaa;
}

button[type="reset"]:hover {
    background: #888;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.82);
}

.footer {
    background: #e1f3f3;
    color: #333;
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header .title {
        justify-content: center;
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 90%;
    }
}

body.night-mode {
    background: #070505cb;
    color: #f5f5f5;
}

body.night-mode .header {
    background: #2e2d2d;
    color: #f5f5f5;
}

body.night-mode .content {
    background: #2b2626;
    color: #fdfdfd;
}

body.night-mode .footer {
    background: #2e2d2d;
    color: #f5f5f5;
}

body.night-mode button {
    background: #fa1b1b;
    color: #f5f5f5;
}

body.night-mode button:hover {
    background: #afacac;
}